<!-- vim: set ft=html : -->
{% extends "pages/app/base.html" %}
{% block header %}
{{ super() }}
<img class="splash-art" src="/static/images/homepage.png" alt="splash art"/>
{% endblock %}
{% block content %}
<div class="about">
  <div class="about-content">
    <div class="index-about-name">
      <h1>l0vpre</h1>
      <h2>Illustrator and Character Designer</h2>
    </div>
    <div class="index-about-info">
      <p>Works as a freelance anime artist, occasionally streams on Twitch. <br/>
        Has been practicing digital art for 4 years.  <br/> </p>
      <p>
        Graphics tablet: Wacom CTL-672  <br/>
        Software: Krita
      </p>
      <div class="index-about-social-icons">
        <a href="https://x.com/l0vpre" target="_blank" class="icon-x">
          <img width="40" height="40" src="/static/icons/x.svg" alt="x">
        </a>
        <a href="https://pixiv.me/l0vpre" target="_blank" class="icon-pixiv">
          <img width="40" height="40" src="/static/icons/pixiv.svg" alt="p">
        </a>
        <a href="https://twitch.tv/l0vpre" target="_blank" class="icon-twitch">
          <img width="40" height="40" src="/static/icons/twitch.svg" alt="tw">
        </a>
        <a href="https://t.me/l0vpre_xd" target="_blank" class="icon-telegram">
          <img width="40" height="40" src="/static/icons/telegram.svg" alt="t">
        </a>
        <a href="https://boosty.to/l0vpre" target="_blank" class="icon-boosty">
          <img width="40" height="40" src="/static/icons/boosty.svg" alt="b">
        </a>
      </div>
    </div> 
  </div>
  <div class="about-icon">
    <img src="/static/images/icon.png" alt="about icon"/>
  </div>
</div>
<h1 class="artworks">ARTWORKS</h1>
<div class="index-artworks">
  <div class="index-artworks-grid">
    <div class="index-artworks-item"></div>
    <div class="index-artworks-item"></div>
    <div class="index-artworks-item"></div>
  </div>
  <div class="index-artworks-link">
  <a href="/gallery">view more</a>
  </div>
</div>

<div class="index-contact">
  <h1>CONTACT</h1>
  <p> здесь моэно со мной связаться по таким ссылкам</p>
</div>
{% endblock %}
