:root {
  --bg-color: #1e1e1e;
  --text-color: #e6b3ea;
  --accent-color: #e8d4ed;
  --accent-dim-color: #6f6771;
  --section-margin-top: 200px;
}

:root[data-theme="light"] {
  --bg-color: #f6fbfe;
  --text-color: #4dabf7;
}

@font-face {
  font-family: "Oxygen Regular";
  src: url("../fonts/Oxygen-Regular.ttf");
}

@font-face {
  font-family: "Lilita One", sans-serif;
  src: url("../fonts/LilitaOne-Regular.ttf");
}

html {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Oxygen Regular", sans-serif;
}

main {
  width: 1600px;
  margin: 0 auto;
}

footer {
  text-align: center;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-left: 15px;
  font-size: 25px;
}

a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: var(--text-color);
}

.splash-art {
  display: block;
  width: 100%;
}

h1 {
  text-align: center;
}

.about {
  display: flex;
  align-content: space-evenly;
  flex-direction: row;
  gap: 20px;
  justify-items: stretch;
  height: 40em;
  margin-top: var(--section-margin-top);
  box-sizing: border-box;
  padding: 0 40px;
}

.about-content {
  background-color: var(--accent-color);
  color: black;
  border-radius: 40px;
  flex-grow: 1;
  min-width: 0;
  padding: 0px 20px;
}

.index-about-name {
  font-size: 1.8em;
  border-bottom: 2px solid #000;
  padding: 0 45px;
  font-family: "Lilita One", sans-serif;
}

.index-about-name h1 {
  text-align: left;
  margin-bottom: 0.1em;
}

.index-about-name h2 {
  margin: 0 0 10px 0;
  font-size: 1.1em;
}

.index-about-info {
  padding: 35px 45px;
  font-size: 1.4em;
  line-height: 1.5;
}

.about-icon {
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 40px;
}

.about-icon img {
  height: 100%;
  border-radius: inherit;
}

.index-about-social-icons {
  display: flex;
  gap: 1.5em;
  margin-top: 7.5em;
}

.index-about-social-icons a {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.index-artworks {
  width: 100%;
  background-color: var(--accent-dim-color);
  border-radius: 40px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.artworks {
  margin-top: var(--section-margin-top);
}

.index-artworks-link {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.index-artworks-link a {
  color: black;
  background-color: var(--accent-color);
  display: inline-block;
  border-radius: 15px;
}

.index-artworks-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 450px;
  gap: 15px;
}

.index-artworks-item {
  background-color: var(--accent-color);
  border-radius: 40px;
}

.index-contact h1 {
  text-align: left;
}

.index-contact {
  margin-top: 100px;
}

.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  margin-right: auto;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a771ae;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--text-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
